<div class="bg-black text-white h-screen flex justify-center items-center font-serif">
    <div class="main-container p-0.5 h-3/4 w-3/4  ">
        <div class="bg-black h-full w-full flex gap-2 rounded-2xl border-white shadow-2xl" style="border-radius: 1.6em;">
            <div class="left-side h-full w-2/3 items-end flex">
                <img src="../../assets/Fresh Folk Jogging.png" alt="" class="w-full h-88" >
            </div>
            <div class="right-side flex flex-col my-20 w-1/2 text-xs me-10">
                <form action="" [formGroup]="signInData" (ngSubmit)="postUserData(signInData.value)">
                    <div class="flex flex-col">
                        <div class=" font-extrabold text-3xl ">Sign In </div>
                        <div class="text-xs">Don't have an account? <a routerLink="/signup" class="underline text-blue-600">SignUp</a></div>
                    </div>
                    <div class="mt-10 flex flex-col gap-1">
                        <div><label for="email">email</label></div>
                        <div><input type="email" id="email" formControlName="email" placeholder="enter email" class="border outline-none bg-black w-full h-10 rounded-lg indent-2 focus:shadow-md focus:shadow-white"></div>
                    </div>
                    <div class="mt-5 flex flex-col gap-1">
                        <div><label for="password">password</label></div>
                        <div><input [type]="show ? 'text' : 'password' " id="password" formControlName="password" placeholder="enter password" class="border outline-none bg-black w-full h-10 rounded-lg indent-2 focus:shadow-md focus:shadow-white"></div>
                    </div>
                    <div class="flex mt-5 gap-2 items-center">
                        <div class="flex items-center gap-2"><input type="checkbox" (click)="password()" formControlName="showPassword"><span>show password</span></div>
                        
                    </div>
                    <div class="flex justify-center mt-10 bg-pink-200 text-blue-700 rounded-full font-bold py-2 hover:bg-red-900 hover:text-white">
                        <div class="flex justify-center items-center gap-2 text-lg "><span>continue with</span> <img src="../../assets/google-g-icon-removebg-preview.png" alt="" class="h-5 w-5"></div>
                    </div>
                    <div class="flex justify-center mt-2 bg-blue-800 text-pink-200 rounded-full font-bold py-2 text-xl hover:bg-red-900 hover:text-white">
                        <button type="submit">sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>