<div class="bg-black h-screen overflow-x-hidden text-white">
    <div class="flex">
        <div class="h-screen m-5 pt-5 flex flex-col gap-3 text-2xl items-center cursor-pointer">
            <div routerLink="/profile"><i class="fa fa-user"></i></div>
            <div (click)="onChat()"><i class="fa fa-comment-o"></i></div>
            <div (click)="onVideo()"><i class="fa fa-video-camera"></i></div>
            <div (click)="onGame()"><i class="fa fa-puzzle-piece"></i></div>
            <div (click)="onAllUser()"><i class="fa fa-plus"></i></div>
        </div>
        <div class=" mt-5 p-5 flex flex-col gap-2 text-xl items-start" style="box-shadow: inset 0px 0px 30px #ffffff2f;">
            <div class="font-bold text-3xl text-blue-500">Friends</div>
            <div *ngIf="count === 0">
                
            </div>
            <div *ngIf="count === 4">
                <div *ngFor="let item of userList" >
                    <div class="flex my-4 justify-between">
                        <div class="flex gap-4">
                            <div>
                                <img [src]="item.profile_picture" alt="" class="w-10 h-10 rounded-full">
                            </div>
                            <div class="flex flex-col justify-center">
                                <div class="text-sm">{{item.name}}</div>
                                <div class="text-xs">{{item.email}}</div>
                            </div>
                        </div>
                        <div class="items-center flex ms-3">
                            <button class="bg-white text-black font-bold text-sm px-2 py-1 rounded-xl"> Add </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-screen mt-5 p-5 w-full flex justify-center" *ngIf="count === 0" style="box-shadow:inset 0px 0px 30px #ffffff2f;">
            Welcome {{name}}
        </div>
        <div class="h-screen mt-5 p-5 w-full flex justify-center" *ngIf="count === 1" style="box-shadow:inset 0px 0px 30px #ffffff2f;">
            Start Chat
        </div>
        <div class="h-screen mt-5 p-5 w-full flex justify-center" *ngIf="count === 2" style="box-shadow:inset 0px 0px 30px #ffffff2f;">
            Start Video
        </div>
        <div class="h-screen mt-5 p-5 w-full flex justify-center" *ngIf="count === 3" style="box-shadow:inset 0px 0px 30px #ffffff2f;">
            Start Game
        </div>
    </div>
</div>