<div class="bg-black text-white m-0 p-0 overflow-hidden">
    <div class="h-screen">
        <div class="absolute">
            <img src="../../assets/DecorativeLine.png" alt="" class="h-screen blur-sm">
        </div>
        <div class="flex relative justify-between items-center py-5 px-10 w-full text-black font-bold text-xl" style="background-color: #c4c4c4;">
            <div class="flex flex-col ">
                <span >Calling Game Club</span>
                <span class="text-xs -m-1 ms-0 text-gray-700 font-semibold">Group Chat Video Entertainment</span>
            </div>
            <div class="flex gap-3">
                <div class="hover:text-rose-500 hover:underline">About</div>
                <div class="hover:text-rose-500 hover:underline">Home</div>
                <div class="hover:text-rose-500 hover:underline"><a routerLink="/signup">Login</a></div>
            </div>
        </div>
        <div class="flex h-3/4 items-center m-10 relative">
            <div class="flex flex-col text-end w-1/2 ms-10">
                <div class="text-5xl font-bold font-serif" style="color: #459ee6;">Connect & Play</div>
                <div class="text-sm mt-1">"Connect, chat, and play together seamlessly on our interactive platform. Engage in group chats, video calls, and immersive gaming experiences all in one place!"</div>
                <div><button class="text-black font-bold text-xl px-10 py-1 mt-10 rounded-3xl" routerLink="/signin" style="background-color: #ccb4e6;">Explore More.. -> </button></div>
            </div>
            <div class="image-section w-1/2 flex justify-center items-center">
                <div class=""><img src="../../assets/hero7.png" class="h-2/3 w-2/3 rounded-full" alt=""></div>
            </div>
        </div>
    </div>
</div>