<div class="bg-black text-white m-0 p-0 overflow-hidden">
    <div class="h-screen">
        <div class="absolute">
            <img src="../../assets/DecorativeLine.png" alt="" class="h-screen blur-sm">
        </div>
        <div class="flex relative justify-between items-center py-5 px-10 w-full text-black font-bold text-xl" style="background-color: #ffffff20; color : #c4c4c4">
            <div class="flex flex-col ">
                <span >Calling Game Club</span>
                <span class="text-xs -m-1 ms-0 font-semibold">Group Chat Video Entertainment</span>
            </div>
            <div class="flex gap-3">
                <div class="hover:text-rose-500 hover:underline"><a routerLink="/signup">Login</a></div>
            </div>
        </div>
        <div class="flex h-3/4 items-center m-10 relative">
            <div class="flex flex-col text-end w-1/2 ms-10">
                <div class="text-6xl font-bold font-serif" style="color: #459ee6;">Connect & Play</div>
                <div class="text-md mt-1">"an integrated platform that offers group chat, video calling, and gaming functionalities all in one place. Users can easily communicate with friends and family via text or video while enjoying immersive gaming experiences together. With seamless integration, staying connected and having fun has never been easier."</div>
                <div><button class="text-black font-bold text-xl px-10 py-1 mt-10 rounded-3xl hover:scale-110 transition-all" routerLink="/signin" style="background-color: #d6c8e5;">Explore More </button></div>
            </div>
            <div class="image-section m-20">
                <div class="image-slide">
                    <div class="image-frame"><img src="../../assets/hero7.png"  alt=""></div>
                    <div class="image-frame"><img src="../../assets/hero3.png"  alt=""></div>
                    <div class="image-frame"><img src="../../assets/hero1.png"  alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-36 mt-20 justify-center flex items-center">
        <div class=" flex justify-center items-center gap-10">
            <div class=" w-1/2 h-full flex justify-end"><img src="../../assets/hero10.png" alt="" class="w-2/3 h-2/3"></div>
            <div class=" w-2/3 h-full text-sm py-10 px-20 text-end" style="background-color: #ffffff11; border-radius: 200px 0 0 200px; box-shadow:inset 0px 0px 20px #fff"><p>The "Group Chat" feature is a cornerstone of modern communication platforms, enabling users to engage in dynamic, real-time conversations with multiple participants simultaneously. It serves as a virtual space where teams, friends, or communities can interact seamlessly, fostering collaboration and socialization alike. Within these chats, users can exchange messages, share media files, and express themselves freely, enhancing the richness of their interactions. Whether for coordinating work projects, organizing social events, or simply staying connected with loved ones, group chat offers a versatile and inclusive platform for communication. With features like real-time messaging, media sharing, and customization options, users can tailor their chat experience to suit their preferences and needs. </p></div>
        </div>
    </div>
    <div class="mb-36 mt-20 justify-center flex items-center">
        <div class=" flex justify-center items-center gap-10">
            <div class="w-2/3 h-full text-sm py-10 px-20 text-end" style="background-color: #ffffff11; border-radius: 0px 200px 200px 0px; box-shadow:inset 0px 0px 20px #fff"><p>The "Video Call" feature revolutionizes remote communication by offering users an immersive, face-to-face interaction experience from any location with internet access. Seamlessly integrated into modern communication platforms, it enables individuals, teams, and families to connect in real-time, fostering deeper connections and more effective collaboration. Users can engage in high-quality video conversations with one or more participants, enhancing communication by incorporating visual cues and expressions. Whether for business meetings, virtual gatherings, or catching up with friends and family, video calls offer a personalized touch that transcends traditional text-based communication.  </p></div>
            <div class="w-1/2 h-full flex "><img src="../../assets/hero11.png" alt="" class="w-2/3 h-2/3"></div>
        </div>
    </div>
    <div class="mb-20 mt-20 justify-center flex items-center">
        <div class=" flex justify-center items-center gap-10">
            <div class="w-1/2 h-full flex justify-end"><img src="../../assets/hero6.png" alt="" class="w-2/3 h-2/3"></div>
            <div class="w-2/3 h-full text-sm py-10 px-20 text-end" style="background-color: #ffffff11; border-radius: 200px 0 0 200px; box-shadow: inset 0px 0px 20px #fff"><p>The gaming feature offers a diverse array of classic and interactive games, including Ludo, Snake and Ladder, Chess, and Scribble. Users can immerse themselves in timeless favorites and engaging challenges, all within the same platform where they communicate and connect with others. Ludo brings friends and families together for a fun-filled board game experience, while Snake and Ladder adds an element of excitement and strategy. Chess enthusiasts can test their skills against opponents from around the world, engaging in intense matches and honing their strategies. Additionally, Scribble provides a creative outlet, allowing users to unleash their artistic talents and guess each other's drawings in a lively and interactive environment. </p></div>
        </div>
    </div>
    <div class=" h-screen justify-center flex items-center">
        <div class="h-3/4 w-3/4 flex flex-col gap-5 font-serif justify-center items-center " style="background-color: #ffffff20; box-shadow:0px 0px 30px #575454;">
            <div class="font-extrabold text-5xl" style="color: #459ee6;">Conclusion</div>
            <div class="mx-20 text-lg font-bold text-justify">The main agenda of this website is to provide a comprehensive platform for users to connect, communicate, and engage in various activities seamlessly. By integrating group chat, video calling, and gaming features, the website aims to foster collaboration, socialization, and entertainment among its users. Whether it's for work, socializing with friends, or simply having fun, the website offers a versatile space where individuals can interact in real-time and build meaningful connections. Additionally, the website prioritizes user privacy and security, ensuring a safe and trusted environment for all interactions. Overall, the main agenda is to create a vibrant and inclusive online community where users can thrive and enjoy a wide range of experiences.</div>
        </div>
    </div>
    <div class="footer flex ">
        <footer class='flex flex-row p-3'>
            <div class="left p-5 mt-5 flex flex-col gap-3" style="width:40%">
                <div><p class='font-bold text-xs text-green-100'>"Connect, chat, and play together seamlessly on our interactive platform. Engage in group chats, video calls, and immersive gaming experiences all in one place!"</p></div>
                <div class='flex flex-row gap-3'><img src="../../assets/Logo_of_Twitter.svg.png" alt="" width="30px" height="30px" />
                    <img src="../../assets/Instagram_logo_2016.svg.webp" alt="" width="30px" height="30px" />
                    <img src="../../assets/facebook.png" alt="" width="30px" height="30px" />
                    <img src="../../assets/702300.png" alt="" width="30px" height="30px" /></div>
            </div>
            <div class="right flex flex-row gap-3 p-5 justify-end" style="width: 50%;">
                <div class='flex flex-col gap-2 p-3  text-xs'>
                    <div class='font-black text-slate-500 text-base'>About</div>
                    <div>Contact Us</div>
                    <div>Careers</div>
                    <div>Press Release</div>
                    <div>About Us</div>
                </div>
                <div class='flex flex-col gap-2 p-3  text-xs'>
                    <div class='font-black text-slate-500  text-base'>Help</div>
                    <div>Payment</div>
                    <div>Shipping</div>
                    <div>Cancellation</div>
                    <div>Return</div>
                    <div>FAQ</div>
                </div>
                <div class='flex flex-col gap-2 p-3  text-xs'>
                    <div class='font-black text-slate-500  text-base'>Consumer Policy</div>
                    <div>Cancellation & Return</div>
                    <div>Terms of Use</div>
                    <div>Security</div>
                    <div>Privacy</div>
                    <div>Sitemap</div>
                </div>
            </div>
        </footer>
    </div>
</div>