<div class="bg-black text-white h-screen flex justify-center items-center font-serif">
    <div class="main-container p-0.5 h-4/5 w-3/4  ">
        <div class="bg-black h-full w-full flex gap-2 rounded-2xl border-white shadow-2xl" style="border-radius: 1.6em;">
        <div class="left-side h-full w-1/2 items-end flex">
            <img src="../../assets/Fresh Folk Teaching.png" alt="" class="" >
        </div>
        <div class="right-side flex flex-col my-16 w-1/2 text-xs me-10">
            <form action="" [formGroup]="signUpData" (ngSubmit)="checkRes()">
                <div class="flex flex-col">
                    <div class=" font-extrabold text-3xl ">Create an Account </div>
                    <div class="text-xs">Already have an account? <a routerLink="/signin" class="underline text-blue-600">SignIn</a></div>
                </div>
                <div class="mt-8 flex flex-col gap-1">
                    <div><label for="name" >Username</label></div>
                    <div><input type="text" id="name" required formControlName="name" placeholder="enter username" class="border outline-none bg-black w-full h-10 rounded-lg indent-2 focus:shadow-md focus:shadow-white"></div>
                </div>
                <div class="mt-4 flex flex-col gap-1">
                    <div><label for="email" >Email</label></div>
                    <div><input type="email" id="email" required formControlName="email" placeholder="enter email" class="border outline-none bg-black w-full h-10 rounded-lg indent-2 focus:shadow-md focus:shadow-white"></div>
                </div>
                <div class="flex gap-2">
                    <div class="mt-4 flex flex-col gap-1 w-1/2">
                        <div><label for="password">Password</label></div>
                        <div><input [type]="show ? 'text' : 'password'" required id="password" formControlName="password" placeholder="enter password" class="border outline-none bg-black w-full h-10 rounded-lg indent-2 focus:shadow-md focus:shadow-white"></div>
                    </div>
                    <div class="mt-4 flex flex-col gap-1 w-1/2">
                        <div><label for="confirmPassword">Confirm password</label></div>
                        <div><input [type]="show ? 'text' : 'password'" required id="confirmPassword" formControlName="confirmPassword" placeholder="enter confirm password" class="border outline-none bg-black w-full h-10 rounded-lg indent-2 focus:shadow-md focus:shadow-white"></div>
                    </div>
                </div>
                <div class="flex mt-4 gap-2 items-center">
                    <div class="flex items-center gap-2"><input type="checkbox" (click)="password()"><span>show password</span></div>
                    
                </div>
                <div class="flex justify-center mt-4 bg-pink-200 text-blue-700 rounded-full font-bold py-2 hover:bg-red-900 hover:text-white">
                    <div class="flex justify-center items-center gap-2 text-lg "><span>continue with</span> <img src="../../assets/google-g-icon-removebg-preview.png" alt="" class="h-5 w-5"></div>
                </div>
                <div class="flex justify-center mt-2 bg-blue-800 text-pink-200 rounded-full font-bold py-2 text-xl hover:bg-red-900 hover:text-white">
                    <button>sign up</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>