.main-container
{
    animation-name: flow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flow {
    from {
        box-shadow: 0px 0px 10px pink;
    }
    to {
        box-shadow: 0px 0px 40px pink;
    }
}